/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

body{
    font-family: 'Lobster', cursive;
    /* background-color:#8B4513; */
    color: #8B4513;
}
input[type=text]{
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    outline: none;
    height: 40px;
    color: #8B4513;
}
.container{
    background-color: rgb(255, 255, 255);
    /* margin-top:10%; */
     height: 100%; 
     /* box-shadow:0px 2px 4px 6px #8B4513, 0px 2px 4px 6px #8B4513 ; */
}
.title{
    color:#8B4513;
}
.title>h1{
    /* margin-bottom: -10%; */
    width:30%;
    /* background-color: white; */
    margin:0 auto;
}
